<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Help Me Help</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/static/css/extra.css">
    <link rel="stylesheet" href="/static/css/hmh.css">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/jquery.ui-1.11.4.min.js"></script>
    <script src="/static/js/jquery.autocomplete-1.2.18.min.js"></script>
    <script src="/static/js/jquery.cookie-1.4.1.min.js"></script>
    <script src="/static/js/tooltip.js"></script>

    <!-- App
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="/static/app/data.js"></script>
    <script src="/static/app/main.js"></script>

    <script type="text/javascript">{% block extrajs %}{% endblock %}</script>

  </head>
  <body class="initial">

    <div class="container">
      <div class="title">
        <h1><a href="/">Help Me Help</a></h1>
      </div>

      <div class="input-main">
        <input id="issue-input" type="text" placeholder="What issue are you passionate about?">
      </div>
      <div id="instructions" class="info">
      Have you ever wished to change something in your community and didn't know where to start? You are just a few clicks away.
      </div>
    </div>

    <div class="container">
  {% block content %}
  {% endblock %}
    </div>

    <div class="container footer">
      <a href="/about"><i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by PyPhy+Dev</a>
    </div>
  </body>
</html>
