<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Help Me Help</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/static/css/hmh.css">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/jquery.ui-1.11.4.min.js"></script>
    <script src="/static/js/jquery.autocomplete-1.2.18.min.js"></script>
    <script src="/static/js/jquery.cookie-1.4.1.min.js"></script>

    <!-- App
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="/static/app/data.js"></script>
    <script src="/static/app/main.js"></script>

  </head>
  <body>

    <div class="container">
      <div class="title">
        <h1>Help Me Help</h1>
      </div>

      <div class="input-main">
        <input id="issue-input" type="text" placeholder="Enter issue">
      </div>
    </div>

    <div class="container">
  {% block content %}
  {% endblock %}
    </div>

    <div class="container footer">
      <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by PyPhy+Dev
    </div>
  </body>
</html>
