{% extends 'base.html' %}
{% block title %}
    {% if candidate %}
        {{ candidate.first_name }} {{ candidate.last_name }} - 
    {% else %}
        {{ charity.name }} - 
    {% endif %}
{% endblock %}

{% block extrajs %}
    {% if candidate %}
        var HMHQuery = "{{ candidate.first_name }} {{ candidate.last_name }}";
    {% else %}
        var HMHQuery = "{{ charity.name }}";
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        {% if candidate %}
      	<div id="candidate-img" class="five columns">
    		<img src="{{ candidate.img_url }}" />
		</div>
        {% endif %}

            {% if candidate %}
            <div id="candidate-info" class="seven columns box">
                <h2>{{ candidate.first_name }} {{ candidate.last_name }}, <small>presidential candidate</small></h2>
            {% else %}
            <div id="charity-info" class="box">
                <h2>{{ charity.name }}</h2>
                <p>{{ charity.description }}</p>
            {% endif %}

    	    <div class="donate">
                {% if candidate %}
    	    	<h4>Co-fund election campaign</h4>
                {% else %}
                <h4>Help this charity</h4>
                {% endif %}

    	    	{% if status != "" %}
    	    		{% if status %}
    	    			Your payment was successful. Thank you for your contribution.
    	    		{% else %}
    	    			Something went wrong with your payment. Please, try again.
    	    		{% endif %}
    	    	{% else %}

                {% if candidate %}
                <div class="button">Co-fund</div>
                {% else %}
                <div class="button">Donate</div>
                {% endif %}
    	    	<div class="donate-form">
			        <form id="checkout" method="post">
			          	{% csrf_token %}
			          	<div id="payment-form"></div>
			          	<input type="submit" value="Pay">
			        </form>

				    <script>
				    // We generated a client token for you so you can test out this code
				    // immediately. In a production-ready integration, you will need to
				    // generate a client token on your server (see section below).
			      	var clientToken = "{{ token }}";

				    braintree.setup(clientToken, "dropin", {
				        container: "payment-form"
				    });
				    </script>
    	    	</div>
    	    	{% endif %}
    	    </div>
	    </div>
    </div>

    <div class="row">
        <div id="current-news" class="six columns">
            <h3>Latest news and articles</h3>
            <div class="throbber-loader">
                Loading...
            </div>
		</div>

      	<div id="current-tweets" class="six columns">
      	    <h3>Latest tweets</h3>
            <div class="throbber-loader">
                Loading...
            </div>
      	</div>
    </div>

{% endblock %}
