{% extends 'base.html' %}
{% block content %}

    <div class="row">
      <div id="current-issues" class="five columns">

	</div>

      <div id="recommendations" class="seven columns" style="display:none;">
	    <div id="recommendations-charities" class="box">
		    <div class="throbber-main">
	          <div class="throbber-loader">
	            Loading…
	          </div>
	        </div>
	      </div>
	      <div id="recommendations-candidates" class="box">
		    <div class="throbber-main">
	          <div class="throbber-loader">
	            Loading…
	          </div>
	        </div>
	      </div>
      </div>
    </div>

{% endblock %}
